.card{
    width: 40%;
    margin: 2%;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 10px;
    padding: 5px;
    border-color: lightgray;
}

.title {
    margin-left: 10px;
}

.subtitle {
    margin-left: 30px;
    color: grey;
}

.button {
    justify-content: right;
}


