.tabs {
    margin: 10px;
    text-align: center;
}

.searchButton {
    margin: 5px;
    text-align: center;
}

.buttonToolBar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.restaurant {
    display: flex;
    justify-content: center;
}
