.jumbotron {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    padding-left: 8%;
    padding-right: 8%;
}

.jumbotron h1{
    color: #fffaf0;
}

.jumbotron p{
    color: #fffaf0;
}